<h1>Votre future location</h1>
<%= @listing.num_rooms %>

<%= link_to "Mettre à jour la fiche", edit_listing_path(@listing), class: "btn-prim btn-intervenant-block" %>
<%= link_to "Delete", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr?"}  %>
<%= link_to "Retour à la liste", listings_path %>
