<div class="menu-dashboard">
  <div class="dashboard-title">
    <i class="fa-brands fa-windows"></i>
    <h2>Dashboard</h2>
  </div>

  <div>
    <p>Home</p>
    <p>Profile</p>
    <p>Messages</p>
    <p>History</p>
    <p>Tasks</p>
    <p>Communities</p>
  </div>
  <br>
  <br>
  <div>
    <p>Settings</p>
    <p>Support</p>
    <p>Privacy</p>
  </div>


</div>
