<h1>Nouvelle mission</h1>
<%= simple_form_for [@listing, @mission] do |f| %>
  <%= f.input :mission_type, [["first_checkin", 10], ["last_checkout", 5], ["checkout_checkin", 5]] %>
  <%= f.input :date %>
  <%= f.submit "Créer la mission", class: "btn btn-primary" %>
<% end %>
